* {
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    height: 100vh;
    background: rgb(0, 32, 32) ;
}

h1 {
    font-size: 3rem;
    margin: 3rem;
    text-align: center;
    color: goldenrod;
    font-family: fantasy;
    letter-spacing: .15rem;
}

h2 {
    font-family: fantasy;
    font-size: 26px;
    letter-spacing: .15rem;
    color: white;
}

.game-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#game-area{
    z-index: 1;
    width: 85%;
    padding: 2rem 4rem 5rem 4rem;
    background: url(./images/table.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#dealer-area {
    margin-bottom: 2rem;
}

#dealer-cards {
    transform: translateY(-40px);
    display: flex;
    justify-content: center;
    height: 168px;
}

#player-area #announcement {
    margin-left: 17%;
}

#player-cards {
    display: flex;
    justify-content: center;
    height: 168px;
}

#action-area {
    z-index: 10;
    width: 15%;
    display: flex;
    flex-direction: column;
}

#next-hand, #hit-me, #stay, #new-game  {
    margin-bottom: 3rem;
    margin-left: 1rem;
}

#new-game {
    margin-bottom: 1rem;
}

button {
    color: #016f32;
    background: goldenrod;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

img {
    width: 130px;
    height: 190px;
    margin-left: 1rem;
}

@media (min-width: 1200px) {
    body {
        padding: 0 12%;
    }
}